<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhao.dice.model">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.zhao.dice.model.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/titleModel"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.zhao.dice.model.plugins.MainActivity"
            android:exported="true"
            android:label="@string/titleModel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity> <!-- 默认启动activity，我们在程序中就是禁用了此activity，隐藏了桌面图标 -->
        <activity-alias
            android:name=".plugins.MainActivityAlias"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/titleModel"
            android:targetActivity="com.zhao.dice.model.plugins.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="赵系骰娘模块" />
        <meta-data
            android:name="xposedminversion"
            android:value="30" />
    </application>

</manifest>